.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ddd_box {
    width: 70%;
    display: flex;
    flex-direction: column;
    counter-reset: number;

    > div {
        position: relative;
        padding: 20px;
        border-top: 1px solid #666;

        &::before {
            /* 实现序号 */
            counter-increment: number;
            content: counter(number);
            /* 绝对定位 左上 */
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px;
            font-size: 0.8em;
            color: #ccc;
        }
    }
}
